@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    font-family: "PT Serif", serif;
    font-size: 20px;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    background-image: url(imagemFundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
.bloco {
margin-left: 50%;
}
.logo{
    width: 100px;
}
.titulo{
font-size: 25px;
}
.borda-input{
    border-radius: 25px;
    border: none;
    background-color: #fdf7f7;
    width: 280px;
    height: 20px;
}
.enviar{
    background-color: #60c8b2;
    color: #fdf7f7;
    width: 90px;
    height: 35px;
    border: none;
    border-radius: 25px;
    margin-left: 100px;
}
.blocoCentro{
  width: 600px;
  height: 400px;
  background-color:#FDF7F7;
  border-radius: 25px;
  border-color: #d9d9d9 ;
  border-style: solid;
  position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

}
  *{
    margin: 0;
    padding: 0;
}